@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin:0;
}
body, 
input, 
select, 
button,
textarea{
  font-family: Montserrat,Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows:5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a{
  text-decoration: none;
}




